<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAJrMLXRzHfpV9qwOSHC4mnY2n6r1X98e4</string>
	<key>GCM_SENDER_ID</key>
	<string>315842047554</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sencvp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>crud1-ab551</string>
	<key>STORAGE_BUCKET</key>
	<string>crud1-ab551.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:315842047554:ios:dcafe95cf31f1dc5aa47db</string>
</dict>
</plist>